 @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

*{
  box-sizing: border-box;
}

.robertSection{

   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 0;

}

.robertSection .head{
   display: flex;
   flex-direction: row;
   gap: 10px;
   justify-content: center;
   
}

.robertSection p{
   font-size: 18px;

}

.robert{

  font-family: "Bad Script", cursive;
  font-weight: 300;
  font-size: 40px;
  font-style: normal;
  text-align: center;

}

.fotosSection{

   display: flex;
   justify-content: center;
}

.row {
  display: flex;
  flex: 25%;
  max-width: 49%;
  /* flex-wrap: wrap; */

}

.fotosDiv{
   padding: 0 4px;

}

.fotosDiv img {
  margin-top: 8px;
  vertical-align: middle;

}

footer{
  display: flex;
  justify-content: center;
}

footer .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 35px;
  padding: 0;
  
}

.impressum{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  
}

.container div p{
  margin: 1px;
  padding: 0;
}

.icons{
   display: flex;
   gap: 10px;
   margin-top: 20px;
}

.fff{
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
